<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let contact of everybody | async">

      <ion-icon item-start *ngIf="contact.phoneNumbers"
        (click)="callContact(contact.phoneNumbers[0].value)"
        ios="ios-call" md="md-call" tappable>
      </ion-icon>

      <ion-label>
        {{contact.name.givenName}}
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
